/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common style or utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
/* main style */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;

}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;

}
/* top player style */
.top-palyers{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;

}
.players{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;

}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
/* top blog styles */
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog{
    display: flex;
    width: 370px;
    align-items: center;
}
.blog .blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
    margin-left: 5px;
    font-size: 16px;
}
/* **********
Courses style
 ********* */
 .courses{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-column-gap: 24px;
 }
 .course{
     width: 250px;
     box-shadow: 5px 5px 50px rgba(245, 242, 242, 0.672);
     padding: 15px;
     border-radius: 20px;
 }
 .courses .course-banner img{
     width: 224px;
     height: 104;
 }
 .course-info{
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 .fa-star{
     font-size: 12px;
 }
 .fa-star.filled{
     color: #FFC014;
 }
 .fa-star.empty{
     color: #AEAEAE;
 }
 .course-duration{
     background-color: #ed6c4f3a;
     color: #ED6B4F;
     padding: 5px 10px;
     border-radius: 25px;
 }
 /* *************************
 Media Queries
 *************************** */
 /* Mobile Devices */
 @media only screen and (max-width:688px){
     .container{
         width: 100%;
     }
     .players, .blogs, .courses{
        grid-template-columns: repeat(1,1fr);
     }
     .player, .blog{
         flex-direction: column;
     }
     /* .blog .blog-info {
        text-align: center;
     } */
    }
     /* tablet devices */
     @media only screen and (min-width: 688px) and (max-width: 992px) {
         .container{
            width: 100%;
         }
         .players, .courses{
             grid-template-columns: repeat(2, 1fr);
             
         }
         .blogs{
             grid-template-columns: repeat(1, 1fr);
         }
         
     }
     /* .blogs, .courses{
         display: none;
     } */
 